/*GENERAL STYLES*/
* {
   box-sizing: border-box;
   outline: none;
}

.clearfix:before,
.clearfix:after {
   content: "";
   display: table;
   clear: both;
}
.container {
   padding: 0 2%;
   margin: 0 auto;
   width: 100%;
}

section {
   padding: 2rem 0;
}

.text-shadow {
	text-shadow: 0.04em 0.05em #656565;
}

.fontPD {
	font-family: 'Playfair Display', serif;
}

.fontR {
	font-family: 'Raleway', sans-serif;
}


/*HEADER*/

.header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 0.2rem;
}

.logo {
	align-self: flex-start;
	/*width: 35%;*/
	/*height: 56px;*/
	flex: 0 1 50%;
}

.logo img {
	max-width: 65%;
	padding-bottom: 1rem;
}

.cart {
	/*order:3;*/
	align-self: flex-end;
	/*width: 50%;*/
	/*height: 50px;*/
	flex: 0 1 50%;
}

.cart img {
	max-width: 24%;
	margin-left: 74%;
	padding-bottom: 1rem;
}

.navbar {
	margin-bottom: 0px !important;
	align-self: center;
	order: 2;
	flex: 1 0 auto;
}

.navbar ul{
	text-align: center;
	padding-top: 1rem;
	border-top: 1px solid #7d7d7d;
}

.navbar li {
	display: inline-block;
	text-transform: uppercase;
	/*margin: auto;*/
}

.navbar a {
	color: #ff4040;
	padding: 0 1rem;
}

/*.logo: nth-of-type(1) { order: 1; }
.cart: nth-of-type(2) {order: 3; }
.navbar: nth-of-type(3) {order: 2; }*/

/*BANNER SECTION*/

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgba(0,0,0,0.5),transparent), 
	url("assets/images/banner-girl.png") center bottom no-repeat,
	url("assets/images/flower-bkgd.jpg") center repeat-x;
	background-size: cover, /*110px 235px*/ 150px 85%, cover;
	position: relative;
	min-height: 60vh;
}

.banner-text {
	color: white;
	font-weight: bold;
	text-align: center;
	/*padding: 18% 0;*/
}

.banner-h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
}

.banner-h2 {
	font-family: 'Playfair display', serif;
	font-size: 3.6rem;
	margin-top: 0px;
	/*line-height: 2;*/
}

/*CTA SECTION*/

.about {
	display: flex;
	text-align: center;
	flex-wrap: wrap;	
	/*border-bottom: 1px solid #A9A9A9;*/
  	justify-content: center;
  	align-items: center;
}

.h3-text {
	font-size: 3.3rem;
	margin:3% 0;
	font-style: italic;
	font-weight: normal;
	font-family: 'Playfair display', serif;
	color: #404040;
	text-align: center;
}
span {
	font-style: normal;
	font-weight: bold;
	font-family: 'Playfair display', serif;
}

.h3-text p {
	font-size: 1.35rem;
	padding-top: 5%;
	line-height: 250%;
	font-style: normal;
	text-align: center;
}

/*CATEGORIES SECTION*/

.Category {
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*width: 100%;*/
}

.wide {
    flex: 2 0 100%;
    max-width: 120%;
    border: 4px solid white;
   /* position: relative;*/
}

.square {
	flex: 1 0 50%;
    max-width: 50%;
    border: 4px solid white;
   /* position: relative;*/
}

.category-name {
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	text-shadow: 2px 2px 4px black;
	font-size: 2rem;
	min-height: 25vh;
	text-align: center;
	transform: translateY(50%);
}
.wide.mens {
	background: linear-gradient(rgba(0,0,0,0.5),transparent),
				url("images/mens-category.jpg") no-repeat center center;
	background-size: cover;			
}

.square.trends {
	background:linear-gradient(rgba(0,0,0,0.5),transparent),
				url("images/trends-category.jpg") no-repeat center center;
	background-size: cover;			
}

.square.glasses {
	background:linear-gradient(rgba(0,0,0,0.5),transparent),
				url("images/glasses-category.jpg") no-repeat center center;
	background-size: cover;	
}

.square.sale {
		background:linear-gradient(rgba(0,0,0,0.5),transparent),
				url("images/sale-category.jpg") no-repeat center center;
		background-size: cover;
}

.square.bags {
		background:linear-gradient(rgba(0,0,0,0.5),transparent),
				url("images/bags-category.jpg") no-repeat center center;
		background-size: cover;
}

.wide.womens {
		background:linear-gradient(rgba(0,0,0,0.5),transparent),
				url("images/womens-category.jpg") no-repeat center center;
		background-size: cover;
}

/*PRODUCTS SECTION*/

.popular-items{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 5rem;
}

.product-roll {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-self: center;
	text-align: center;
}

.item {
	width: 100%;
}

.item h4 {
	font-size: 2.3rem;
	color:#ff4040;
	line-height: 1.5;
	font-family: 'Playfair display', serif;
}

.item h1 {
	font-size: 1rem;
	color: #969696;
	font-family: 'Raleway', sans-serif;
}

.item p {
   color: #969696;
   font-size: 1.2rem;
   font-weight: bold;
   font-family: 'Raleway', sans-serif;
}

/*SUBSCRIPTION SECTION*/

.signup {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-flow: row;
	background: linear-gradient(rgba(0,0,0,0.3),transparent),
		url("assets/images/wave-bkgd.jpg") center bottom no-repeat;
	min-height: 42vh;
	padding-bottom: 4rem;

}

.signup .h3-text {
	color: white;
	padding-bottom: 2rem;
}

.signup p {
	color: white;
	line-height: 2;
	text-align: center;
}

.sub-Form {
	padding: 0.3rem;
	border-radius: 50px;
	background-color: white;
	width: 72%;
	margin-top: 15px;
	text-align: center;
	display: inline-block;
	transform: translate(18%);
}


.email {
	border-radius: 10px;
    padding: 5px 10px;
    width: 65%;
    min-height: 1.25rem;
    float: left;
    border: none;
}

.submitButton {
	border-radius: 50px;
    background-color: #ff4040;
    width: 25%;
    font-size: 1rem;
    padding: 3%;
    float: right;
    color: white;	
    border:none;
}

/*FOOTER SECTION*/
.footer {
	background-color: #262626;
   color: white;
   font-family: 'Playfair Display Web', serif;
   /*padding: 4rem 0;*/
   padding-top: 3rem;
   padding-bottom: 3rem;
   margin-top: 0.8%;
   width: 100%;
}
.contactUs {
	padding: 6% 0%;
	display: block;
	clear: both;
	width: 100%;
	font-size: 1.6rem;
}

.contact, .phone {
    margin-bottom: 1rem;
    text-align: center;
    vertical-align: middle;
}

.phone a{
	color: white;
	text-decoration: none;
}
.address {
    text-align: center;
    vertical-align: middle;
    color: #9e9e9e;
}
.social {
    margin: auto;
    width: 75%;
    float: right;
    padding-right: 4rem;
    line-height: 150%;
    font-family: 'Raleway', sans-serif;
}

.social span {
	display:none;
}

.social ul {
    display: flex;
/*    text-align: center;
    margin: auto;*/
    font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  align-items:center;
  justify-content: center;
}

.social i {
	padding: 0 1rem;
	color: white;
	font-size: 2rem;
	text-align: center;
	align-self: center;
	transform: translateX(-7vw);
}